@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
:root {
  --main-color: #2d2d40;
  --sub-color-1: #4f4f73;
  --sub-color-2: #7c7ca0;
  --sub-color-3: #b7b7cf;
  --bg-color: #fafafa;
}

* {
  margin: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

.text-title-font {
  font-family: 'Kanit', sans-serif !important;
}

.text-main-color {
  color: var(--main-color);
}

.text-bg-color {
  color: var(--bg-color);
}

/* ------------------------------------
スクロールバー
------------------------------------ */

/*スクロールバー全体*/

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/*スクロールバーの軌道*/

::-webkit-scrollbar-track {
  border-radius: 10px;
}

/*スクロールバーの動く部分*/

::-webkit-scrollbar-thumb {
  background-color: rgba(27, 27, 177, 0.7);
  border-radius: 50px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, .3);
}

/* ------------------------------------
正方形
------------------------------------ */

.common-square {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

.common-square.circle {
  border-radius: 50%;
}

.common-square-inner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
