@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
:root {
  --main-color: #2d2d40;
  --sub-color-1: #4f4f73;
  --sub-color-2: #7c7ca0;
  --sub-color-3: #b7b7cf;
  --bg-color: #fafafa;
}

* {
  margin: 0;
}

body {
  width: 100vw;
  overflow: hidden;
}

ul {
  list-style: none;
}

.text-title-font {
  font-family: 'Kanit', sans-serif !important;
}

.text-main-color {
  color: var(--main-color);
}

.text-bg-color {
  color: var(--bg-color);
}
