@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
:root {
  --main-color: #2d2d40;
  --sub-color-1: #4f4f73;
  --sub-color-2: #7c7ca0;
  --sub-color-3: #b7b7cf;
  --bg-color: #fafafa;
}

* {
  margin: 0;
}

/* ------------------------------------
円の設定
------------------------------------ */

.common-circle {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 50%;
}

.common-circle>.common-circle-inner {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
