// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

$font-size-root: 18px;
$body-font-family: 'Noto Sans JP', serif;

$headings: (
  'h1': (
    'size': 2rem,
    'line-height': rem
  ),
)
